%li
  %h2= link_to article.title, article_path(article)
  = link_to article.original_domain, article.original_url if article.original_url?
  %time
    = article.date_published.to_date.to_formatted_s(:long_ordinal) if article.date_published
  = link_to "Edit", edit_article_path(article)
  = button_to "Delete", article_path(article), data: { confirm: 'Are you sure?' }, method: :delete
