%article{id: "article-#{article.id}"}
  %header
    %h2= article.title

    = link_to article.original_domain, article.original_url if article.original_url?
  %footer
    %ul
      %li
        Published on:
        %time= article.date_published.to_date.to_formatted_s(:long_ordinal) if article.date_published?
      %li
        Captured on:
        %time= article.date_ingested.to_date.to_formatted_s(:long_ordinal) if article.date_ingested?
      %li.read-status
        = article.read_status
      %li
        - value, word = article.mark_as_read_form_values
        = form_for article, method: :patch do |f|
          = f.hidden_field :read, value: value
          = f.submit "Mark as #{word}"

  .entry-content
    = sanitize article.body
