%nav
  %ul
    %li
      = link_to 'Articles', articles_path
    %li
      = link_to 'Notes', notes_path
    %li
      = link_to 'Queues', sidekiq_web_path
    %li
      = link_to 'Tools', '/pages/tools'
    %li
      = button_to 'Logout', destroy_user_session_path, method: :delete, form_class: 'sign_out_button'
