!!!
%html
  %head
    %title Memoriae
    %meta{:content => "A datastore", :name => "description"}
    %meta{:content => "Matt Gauger", :name => "author"}
    %meta{:content => "width=device-width,initial-scale=1", :name => "viewport"}
    = stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true
    = javascript_include_tag "application", "data-turbolinks-track" => true
    = csrf_meta_tags
  %body
    %header
      .container
        = link_to root_path do
          %h1 Memoriae
        %nav
          %ul
            %li
              = button_to 'Logout', destroy_user_session_path, method: :delete

    .container
      = yield

    %footer
      .container
        ©2013
        = link_to 'Matt Gauger', 'https://github.com/mathias'
